# local environment vars to ignore
.env*.local

litd-debug
litcli-debug
/lightning-terminal-*

# MacOS junk
.DS_Store

itest/btcd-itest
itest/litd-itest*
itest/lnd-itest
itest/itest.test
itest/.logs
itest/*.log
itest/backward-compat

vendor
*.idea
*.run
*.iml
profile.cov
profile.tmp

.DS_Store

.vscode
*.code-workspace
