.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-info {
  width: 800px;
  min-width: 40vmin;
  height: 20vmin;
  margin: 20px auto;
  overflow-y: scroll;
  font-size: 14px;
  text-align: left;
  border: 1px solid #ddd;
}

.App-table {
  margin: 0 auto;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.App-table th,
.App-table td {
  padding: 5px 10px;
  border: 1px solid #ddd;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
